<div>
  <section>
    <h2>
      Work better together
    </h2>
    <p>
      Being a freelancer is a rollercoaster of emotions.
      We built Slate to keep your freelance business less stressful.
      We'd love to show you what we're building...
    </p>
    <img src="" alt="">
    <button>
      Try For Free
    </button>
  </section>
  <section>
    <img src="../public/images/figma-logo.png" alt="logo">
    <div>
      <a href="">
        <img src="" alt="">
      </a>
      <a href="">
        <img src="" alt="">
      </a>
      <a href="">
        img
      </a>
    </div>
    <span>
      Just type what's on your mind and we'll 
    </span>
  </section>
</div>