<div class="header">
  <section class="header__top">
    <img src="/views/public/images/figma-logo.png" alt="figma-logo">
    <div class="header__menu">
      <button
        class="btn btn-primary"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        id="top__button"
      >
        Sign Up
      </button>
      <div>
        <div
          class="burger-menu"
          id="toggler"
        >
          <span class="burger-menu__lines"></span>
        </div>

        <nav
          class="burger-menu__nav"
          id="nav"
        >
          <a href="#" class="burger-menu__link">Home</a>
          <a href="#" class="burger-menu__link">Product</a>
          <a href="#" class="burger-menu__link">About</a>
          <a href="#" class="burger-menu__link">Contact</a>
        </nav>
      </div>
    </div>
  </section>
  <section class="header__info">
    <div class="header__text-conteiner">
      <h1 class="header__title">
        Lightning <br class="header__break-1">
        fast prototyping
      </h1>
      <p class="header__text">
        Most calendars are designed for
        teams. Slate is designed for<br class="header__break-2">
        freelancers who want a simple
        way to plan their schedule.
      </p>
    </div>
    <div class="header__submit">
      <div class="header__media--container">
        <img
          src="/views/public/images/Shapes.svg"
          alt="shapes"
          class="header__shapes"
        >
        <button
          class="btn btn-primary"
          id="info__button"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Try For Free
        </button>
      </div>
      <div class="header__media--container">
        <img
          src="/views/public/images/media.svg"
          alt="media"
          class="header__media"
          id="media"
        >
      </div>
    </div>
  </section>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
