<div class="navbar" id="navbar">
  <section class="navbar__info">
    <h2 class="navbar__title">
      Fastest way to navigate
    </h2>

    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="../public/images/Card1.png" class="d-block w-100 navbar__img" alt="...">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="../public/images/Card2.png" class="d-block w-100 navbar__img" alt="...">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div
      class="enable__carousel"
      id="enable"
    >
      <img src="../public/images/Card1.png" class="d-block w-100 navbar__img" alt="...">
      <img src="../public/images/Card2.png" class="d-block w-100 navbar__img" alt="...">
    </div>

    <button
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      class="btn btn-light"
      id="navbar__button"
    >
      Try For Free
    </button>
  </section>

  <section class="navbar__contact">
    <div class="navbar__subscribe" id="navbar__subscribe--enable">
      <h2 class="navbar__title--2">
        OpenType features and
        Variable fonts
      </h2>
      <p class="navbar__text">
        Most calendars are designed for teams. Slate is designed 
        for freelancers who want a simple way to plan
        their schedule.
      </p>
      <div class="navbar__email">
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter Your Adress Email"
        >
        <button
          class="btn btn-primary"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          id="navbar__button--subscribe"
        >
          Subscribe
        </button>
      </div>
    </div>
    <div class="navbar__phone--container">
      <img
        src="../public/images/iPhoneX.png"
        alt="phone"
        class="navbar__phone"
      >

      <img
        src="../public/images/iPhoneXsmall.svg"
        alt="phone"
        class="navbar__phone--small"
      >
    </div>
  </section>
</div>